.modal {
  background-color: white;
  width: 45vw;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-top: 0;
  border: 1px solid;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  direction: rtl;
  box-shadow: 2px 2px 5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid;
  padding: 0.5rem;
}
